name: CI Workflow
on: 
  pull_request:
    types: [opened, closed] # cuando se abre o cierra un pull request
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo "Building the application..."